<div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="euro-font-content-black mb-3">Visit Us</h3>
            <div class="visit euro-font-content-book">
                <div class="d-flex">
                    <img class="float-left" style="height: 1.5rem;" src="./icon/address.png">
                    <p class="float-right text-white">
                        Lô F2, Cặp đường số 1 và số 6, Khu công nghiệp Lợi Bình Nhơn, Xã Lợi Bình Nhơn, Thành phố Tân
                        An, Tỉnh Long An, Việt Nam
                    </p>
                </div>
                <div class="d-flex">
                    <img class="float-left" style="height: 1.5rem;" src="./icon/mail.png">
                    <p class="float-right text-white">
                        info@eurofilm.com.vn
                    </p>
                </div>
                <div class="d-flex">
                    <img class="float-left" style="height: 1.5rem;" src="./icon/web.png">
                    <p class="float-right text-white">
                        0935247171
                    </p>
                </div>
            </div> 
        </div>
        <div class="col-2">
            <h3 class="euro-font-content-black mb-3">Sitemap</h3>
            <ul class="euro-font-content-book">
                <li class="mb-1"><a href="#about-us">About Us</a></li>
                <li class="mb-1"><a href="#facilities">Facilities</a></li>
                <li class="mb-1"><a href="#products">Products</a></li>
                <li class="mb-1"><a href="#lab">Lab</a></li>
                <li class="mb-1"><a href="#accreditations">Accreditations</a></li>
                <li class="mb-1"><a href="#contact-us">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-4 social">
            <h3 class="euro-font-content-black mb-3">Social Network</h3>
            <div>
                <a href="#">
                    <img src="./icon/facebook.png" alt="">
                </a>
                <a href="#">
                    <img src="./icon/messenger.png" alt="">
                </a>
                <a href="#">
                    <img src="./icon/telephone.png" alt=" ">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="./icon/skype.png" alt="">
                </a>
                <a href="#">
                    <img src="./icon/linkedin.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>