<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Visit Us</h3>
            <div class="visit">
                <div class="holder">
                    <div class="img">
                        <img src="./icon/address.png" alt="">
                    </div>
                    <div class="p">
                        <p>Lô F2, Cặp đường số 1 và số 6,
                            Khu công nghiệp Lợi Bình Nhơn, Xã Lợi Bình Nhơn,
                            Thành phố Tân An, Tỉnh Long An, Việt Nam
                        <p> 
                    </div>  
                </div>  
                <div class="holder">  
                    <div class="img"> 
                        <img src="./icon/mail.png" alt="">
                    </div>
                    <div class="p"> 
                        <p>euro@company.com</p> 
                    </div>
                </div>
                <div class="holder">
                    <div class="img">
                        <img src="./icon/phone.png" alt="">
                    </div>
                    <p>0903946657</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <h3>Site map</h3>
            <ul>
                <li><a href="#">GIỚI THIỆU</a></li>
                <li><a href="#">SẢN PHẨM</a></li>
                <li><a href="#">TIN TỨC</a></li>
                <li><a href="#">LIÊN HỆ</a></li>
            </ul>
        </div>
        <div class="col-4 social">
            <h3>Social Network</h3>
            <div>
                <a href="#">
                    <img src="./icon/facebook.png" alt="">
                </a>
                <a href="#">
                    <img src="./icon/messenger.png" alt="">
                </a>
                <a href="#">
                    <img src="./icon/telephone.png" alt=" ">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="./icon/skype.png" alt="">
                </a>
                <a href="#">
                    <img src="./icon/linkedin.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>