<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="https://img.freepik.com/free-vector/ bird-colorful-logo-gradient-vector_343694-1365.jpg"
                alt="">
        </div>
        <div class="col-8">
            <table>
                <tr>
                    <td>LIÊN HỆ</td>
                    <td>Ngo Nhat Tien</td>
                </tr>
                <tr>
                    <td>ĐỊA CHỈ</td>
                    <td>LÔ F2, CẶP ĐƯỜNG SỐ 1 VÀ SỐ 6, KHU CÔNG NGHIỆP
                        LỢI BÌNH NHƠN, XÃ LỢI BÌNH NHƠN, THÀNH PHỐ TÂN
                        AN, TỈNH LONG AN, VIỆT NAM</td>
                </tr>
                <tr>
                    <td>ĐIỆN THOẠI</td>
                    <td>0903946657</td>
                </tr>
                <tr>
                    <td>EMAIL</td>
                    <td>nhattien@gmail.com</td>
                </tr>
            </table>
        </div>
        <div class="col-2">
            <h3>Site map</h3>
            <ul>
                <li><a href="#">GIỚI THIỆU</a></li>
                <li><a href="#">SẢN PHẨM</a></li>
                <li><a href="#">TIN TỨC</a></li>
                <li><a href="#">LIÊN HỆ</a></li>
            </ul>
        </div>
    </div>
</div>