<nav class="euro-font-content-book">
    <div class="">
        <div class="container">
            <div class="col-12">
                <img src="./ext/img/LOGO-EURO.jpg" alt="">
                <ul class="row">
                    <li class="">
                        <a class="nav-link" href="#why-euro">GIỚI THIỆU <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="">
                        <a class="nav-link dropdown-icon-after" href="#products">SẢN PHẨM</a>
                    </li>
                    <li class="">
                        <a class="nav-link" href="#lab">LAB</a>
                    </li>
                    <li class="">
                        <a class="nav-link" href="#infra">CƠ SỞ VẬT CHẤT</a>
                    </li>
                    <li class="">
                        <a class="nav-link" href="#contact">LIÊN HỆ</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" aria-label="Search" />
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                VN
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>