<nav class="euro-font-content">
    <div class="navbar">
        <div class="w-85 m-auto font-weight-bold">
            <div class="col-12">
                <img src="./ext/img/LOGO-EURO.jpg" alt="">
                <ul class="row align-items-center">
                    <li class="">
                        <a class="nav-link euro-font-title" href="#why-euro">GIỚI THIỆU <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="">
                        <a class="nav-link euro-font-title dropdown-icon-after" href="#products">SẢN PHẨM</a>
                    </li>
                    <li class="">
                        <a class="nav-link euro-font-title" href="#lab">LAB</a>
                    </li>
                    <li class="">
                        <a class="nav-link euro-font-title" href="#infra">CƠ SỞ VẬT CHẤT</a>
                    </li>
                    <li class="">
                        <a class="nav-link euro-font-title" href="#contact">LIÊN HỆ</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            <div class="d-flex align-items-center position-relative">
                                <input class="form-control mr-sm-2" type="search" aria-label="Search" />
                                <i class="fa-solid fa-magnifying-glass position-absolute text-blue" style="left: 15px;"></i>
                            </div>
                            <div>
                                <b class="text-blue euro-font-title" style="font-size: smaller;">
                                    LANGUAGE:
                                </b>
                                <a class="euro-font-title nav-link dropdown-icon-after p-0" href="#">VN</a>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>