
.center-div {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Adjust to your layout needs */
}

.w-85 {
    width: 85%;
}

.w-20 {
    width: 20%;
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;
}

.border-dashed-bottom-1 {
    border-bottom: 1px dashed #333;
}

.text-end-with-arrow-right::after {
    content: "\f30b"; /* Unicode for the desired icon (e.g., a font-awesome icon) */
    font-family: FontAwesome; /* Use the font that contains the icon */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.text-black {
    color: #000 !important;
}

.text-red {
    color: #ea001b !important;
}

.background-red {
    background-color: #ea001b !important;
}

.background-grey {
    background-color: #ebebeb !important;
}

.background-blue {
    background-color: #0284fe !important;
}

.focus-background-color {
    background-color: #ccc;
}

textarea {
    outline: none;
}

.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'svn-Gotham-Book';
    src: url(../font/content_font/SVN-Gotham\ Book.otf);
}

@font-face {
    font-family: 'svn-Gotham-Black';
    src: url(../font/content_font/SVN-Gotham\ Black.otf);
}

@font-face {
    font-family: 'svn-Gotham';
    src: url(../font/content_font/SVN-Gotham\ Regular.otf);
}

@font-face {
    font-family: 'Compacta';
    src: url(../font/main_font/CompactaBT.ttf);
}

.euro-font-title {
    font-family: 'Compacta';
}

.euro-font-content {
    font-family: 'svn-Gotham';
}

.euro-font-content-book {
    font-family: 'svn-Gotham-Book';
}

.euro-font-content-black {
    font-family: 'svn-Gotham-Black';
}