$blue: #4287f5;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

nav {
    height: 70px;
    width: 100vw;
    background-color: white !important;
    font-size: 1rem;

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        height: 60px;
        width: auto;
        margin-right: 10px;
    }

    .col-12 {
        height: 70px;
        background-color: white !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        display: flex;
        align-items: center;

        li {
            list-style-type: none;
            border-left: solid $blue 2px;
            text-align: center;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            .dropdown-toggle::after {
                border: none !important;
                font: normal normal normal 14px/1 FontAwesome;
                content: "\f107" !important;
                /* the desired FontAwesome icon */
                vertical-align: 0;
                /* to center vertically */
            }

            img {
                width: 10px;
                height: 10px;
                margin-left: -10px;
            }
        }

        a {
            color: $blue;
            font-weight: bold;
        }

        button,
        input {
            background-color: white;
            border: solid 2px $blue;
        }

        .nav-item {
            border: none;
        }

        .form-inline {
            img {
                width: 10px;
                height: 10px;
                margin-left: 5px;
            }
        }
    }
}

.home-video {
    background-color: white;
    height: auto;
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}

.home-why {
    background-color: $blue;
    padding-top: 20px;
    padding-bottom: 40px;

    .row {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    img {
        height: 100%;
        width: 100%;
    }

    .col-6 {
        padding: 0;
    }

    .home-why-text {
        color: white;

        h1 {
            font-size: 5rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

.home-img {
    padding-top: 30px;

    .row {
        padding: 0;
    }

    .big-img {
        height: 600px;
    }

    .small-img {
        height: 400px;
    }

    .img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .img12 {
        z-index: 999;
        background-image: url("../images/why-product/1.2.png") !important;
    }
    .img12-2 {
        z-index: 999;
        background-image: url("../images/why-product/1.2\ \(2\).jpg") !important;
    }

    .img13 {
        background-image: url("../images/why-product/1.3.jpg") !important;
    }
    .img13-2 {
        background-image: url("../images/why-product/1.3\ \(2\).jpg") !important;
    }

    .img14 {
        background-image: url("../images/why-product/1.4.jpg") !important;
    }
    .img14-2 {
        background-image: url("../images/why-product/1.4\ \(2\).jpg") !important;
    }

    .col-7,
    .col-5 {
        display: flex;
        padding: 0;
    }

    h2 {
        font-size: 3rem;
        font-weight: 1000;
        margin-bottom: 20px;
        margin-left: 15px;
    }
}

.home-big-text {
    background-color: $blue;
    height: 200px;
    padding-top: 30px;

    h1 {
        color: white;
        font-size: 3rem;
        font-weight: 1000;
    }
}

.home-img-2 {
    position: relative;
    top: -60px;

    .img-2-holder {
        div {
            margin: 0;
            padding: 0;
            height: 400px;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
    }

    h3 {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        margin: 0;
    }
}

.home-contact {
    margin-bottom: 50px;

    h1 {
        text-align: center;
        margin-bottom: 30px;
        font-weight: 1000;
        font-size: 3.5rem;
    }

    .logos {
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: auto;
        }

        img {
            width: auto;
            height: 100%;
        }

        .logos {
            margin: 0 auto;
        }
    }
    .img-sli {
        img {
            height: 80%;
        }
    }
}

footer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../ext/img/footer.jpg");
    height: 450px;
    color: white;
    padding-top: 50px;

    img {
        width: 150px;
        height: 150px;
        border: solid 1px;
    }

    tr td:first-child {
        width: 200px;
    }

    .col-2 {
        width: 100%;
    }

    li {
        list-style-type: none;
    }

    ul {
        padding: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: grey;
    }

    .visit {
        padding-left: -20px;
        width: 80%;

        h3 {
            text-align: center;
        }

        .holder {
            display: flex;
            align-items: center;
            margin-bottom: -70px;
        }

        .img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
        }

        img {
            width: 30px;
            height: 30px;
            border: none;
        }
    }

    .social {
        h3 {
            text-align: center;
        }

        div {
            display: flex;
            padding: 10px;
            margin-top: -40px;
            margin-left: 15px;
        }

        a {
            width: 100px;
            height: 100px;
        }

        img {
            background-color: lightgray;
            border-radius: 50%;
            scale: 0.4;
            padding: 20px;
        }
    }
}

.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
