.dropdown-custom-item {
    list-style: none;
    position: relative;
    padding-right: 20px;
    /* Create space for the icon */
    margin-bottom: 10px;
    cursor: pointer;
}

.dropdown-custom-item:not(:last-child) {
    border-bottom: 1px dashed #333;
}

.dropdown-custom {
    padding-left: 5px;
    font-weight: bold;
    padding-left: 0;
}

.dropdown-custom ul {
    padding-left: 20px;
}

.dropdown-custom li {
    padding-left: 1rem;
}

.dropdown-custom-item::after {
    content: "\2b";
    /* Unicode for the desired icon (e.g., a font-awesome icon) */
    font-family: FontAwesome;
    /* Use the font that contains the icon */
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 16px;
}

.dropdown-custom-item.active::after {
    content: "\f068" !important;
}

.euro-text-background-vertical {
    background-position: left;
    background-image: url(../images/blur-text-euro.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.euro-text-background-horizontal {
    background-position: top;
    background-image: url(../images/blur-text-euro-2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-form input,
.contact-form textarea {
    background: transparent;
}

.infra p {
    margin-bottom: 0 !important;
}