<nav class="euro-font-title sticky-top w-100" style="font-size: 1.3rem;">
    <div class="container p-0">
        <div class="font-weight-bold">
            <div class="row col-12 p-0">
                <div class="col-12 d-flex justify-content-between">
                    <a class="nav-link p-0" href="#index"><img src="../icon/logo-15.png" alt=""></a>
                    <ul class="d-flex align-items-center mb-0">
                        <li class="">
                            <a class="nav-link" href="#why-euro">INTRODUCE<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="">
                            <a class="nav-link " href="#products">PRODUCT</a>
                            <img src="../icon/tridown.png">
                        </li>
                        <li class="">
                            <a class="nav-link" href="#lab">LAB</a>
                        </li>
                        <li class=""> 
                            <a class="nav-link" href="#infra">INFRASTRUCTURE</a>
                        </li>
                        <li class="">
                            <a class="nav-link" href="#contact">CONTACT</a>
                        </li>
                    </ul>

                    <form class="form-inline my-2 my-lg-0">
                        <div class="d-flex align-items-center position-relative">
                            <input class="form-control mr-sm-2 pl-5" type="search" aria-label="Search" />
                            <i class="fa-solid fa-magnifying-glass position-absolute text-blue" style="left: 1rem;"></i>
                        </div>
                        <div class="d-flex align-items-center">
                            <a class="euro-font-title nav-link p-0" href="/">EN</a>
                            <img src="../icon/tridown.png">
                        </div>
                    </form>
                </div>   
               
            </div>
        </div>
    </div>
</nav>